#input-container {
    position: absolute;
    top: 21%;
    left: 12%;
    border-color: greenyellow;
    border-style: solid;
    border-width: thin;
    padding: 10px;
    margin-left: -10%;
    margin-right: 10%;
  }
  
  #title {
    text-align: center;
    margin-top: 0px ;
    margin-bottom: 0px;
  }
  
  #input-container>span {
    font-size: 18px;
    display: block;
    margin: 5px;
    text-align: right;
  }
  
  .input {
    width: 250px;
    resize: horizontal;
    border-radius: 0px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    background-color: greenyellow;
    color: black;
  }
  
  #input-container>input:active {
    width: auto;
  }
  
  .action-button {
    float: right;
    color: greenyellow;
    border-color: greenyellow;
    border-style: solid;
    border-width: thin;
    background-color: black;
    padding: 5px;
    margin: 5px;
  }
  
  #button-save:hover {
    color: black;
    background-color: greenyellow;
  }
  
  #button-cancel:hover {
    color: black;
    border-color: rgb(247, 64, 64);
    background-color: rgb(247, 64, 64);
  }
  
  #button-edit-track:hover {
    color: black;
    border-color: rgb(0, 119, 255);
    background-color: rgb(0, 119, 255);
  }

  #saving-container{
    background-color: black;
    border-color: greenyellow;
    border-style: solid;
    position: absolute;
    top:40%;
    left: 40%;
    margin: auto;
    padding: 5px;
    text-align: center;
    display: block;
  }
  