#waitingRoomContainer{
    display: block;
    text-align: center; 
}
.loader {
    border: 12px solid rgb(235, 251, 246);
    border-radius: 50%;
    border-top: 12px solid rgb(134, 199, 178);;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 0 auto; 
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}